CREATE TABLE special_dividend (
    id SERIAL PRIMARY KEY,
    FOREIGN KEY (corporate_action_id) REFERENCES corporate_action(action_id),
    dividend_amount NUMERIC NOT NULL,
    declaration_date TIMESTAMPTZ NOT NULL,
    ex_dividend_date TIMESTAMPTZ NOT NULL,
    record_date TIMESTAMPTZ NOT NULL,
    payment_date TIMESTAMPTZ NOT NULL,
    corporate_action_id INTEGER UNIQUE NOT NULL

);